
:root {
   --first-title-color:#FFFFFF;
   --first-subtitle-color:rgba(157, 164, 189, 0.6);
   --first-text-color: #9DA4BD;
   --second-title-color: #303030;
   --second-subtitle-color: #303030;
   --second-text-color: #555555;
   --third-text-color: #303030;
   --header-links-color:#FFFFFF;
   --hero-links-color:#303030;
   --accent-color:#FF6C00;
   --first-btn-color: #FFFFFF;
   --second-btn-color:#303030;

}
body {
    font-family: 'Open Sans', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}
.container {
padding-left: 55px;
padding-right: 55px;
}

/* Шапка */
.header{


}
.header__container{
background-color:#191C26;;
}

.header__logo{

}
.header-nav{

}
.header-nav__list{
}
.header-nav__item{

}
.header-nav__link {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: var(--header-links-color);
}
.header-nav__link:hover,
.header-nav__link:focus{
color: var(--accent-color);
}
/* .header-contacts{

} */
.header-contacts__tel{
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-links-color);
}

.header-contacts__tel:hover,
.header-contacts__tel:focus{
color: var(--accent-color);
}

/* Кнопки реєстрації */
.btn-registration{
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.09em;
    color: var(--first-btn-color);
    text-transform: uppercase;
    width: 140px;
    height: 30px;
    border: 1px solid #FF6C00; 
    border-radius: 30px;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-registration:hover{
    background-color: var(--accent-color);
}
.btn-registration--color {
    color: var(--second-btn-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-registration--color:hover{
  color: var(--first-btn-color);
}
.prices-btn-container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* Секція "Герой" */
.hero {

}
.hero__container{
    background-color: #844949;
}
.hero-social-list{}
.hero-social-list__item{}
.hero-social-list__link{
        font-size: 11px;
        font-weight: 600;
        line-height: 1.36;
        letter-spacing: 0.2em;
        color: var(--hero-links-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-social-list__link:hover,
.hero-social-list__link:focus{
    color: var(--accent-color);
}
.hero-left{}
.hero-left__subtitle{
        font-size: 11px;
        font-weight: 600;
        line-height: 1.36;
        letter-spacing: 0.1em;
        color: var(--first-subtitle-color);
        text-transform: uppercase;
       
}
.hero-left__title{
       font-family: Raleway;
        font-size: 72px;
        font-weight: 700;
        line-height: 1.18;
        letter-spacing: 0.05em;
        color: var(--first-title-color);    
}
.hero-left__text{
        font-size: 18px;
        font-weight: 400;
        line-height: 1.66;
        letter-spacing: 0.02em;
        color: var(--first-text-color);
}

/* Секція "Про нас" */
.about__container{

}
.about-list{}
.about-list__item{}
.about-list__img{}
.about-content{}
.about-content__pre-title{
        font-size: 11px;
        font-weight: 600;
        line-height: 1.36;
        letter-spacing: 0.1em;
        color: var(--second-subtitle-color);
        text-transform: uppercase;
}
.about-content__title{
        font-family: Raleway;
        font-size: 42px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.05em;
        color: var(--second-title-color);
}
.about-content__after-title{
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: var(--second-text-color);      
}
.about-content__text{
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.02em;
       
}
/* Секція "Послуги і ціни" */
.prices{
       background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/price/4bd1963510d23357075bc4fa1c6c7fad.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1.1;
}
.prices__container{}
.prices__subtitle{
        font-size: 11px;
        font-weight: 600;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--first-subtitle-color);
       
}
.prices__title{
        font-family: Raleway;
        font-size: 72px;
        font-weight: 700;
        line-height: 1.18;
        letter-spacing: 0.05em;
        color: var(--first-title-color);
}
.prices__boxes{
        display: grid;
        grid-template-columns: 1fr 1fr

}
.prices-list{
    background-color: rgba(21, 21, 24, 0.6);
    padding: 30px 40px;
   
   
}
.prices-list__item{
    
}
.prices-list__item:not(:last-child){
    margin-bottom: 20px;
}
.prices-list__service{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
   
}
/* Секція " Чому ми" */
 .reasons__container {}
 .reasons-list{}
 .reasons-list__item{}
 .reasons-list__count{
        font-size: 42px;
        font-weight: 700;
        line-height: 1.36;
        letter-spacing: 0.05em;
        text-align: center;
        color: var(--third-text-color);
 }
 .reasons-list__text{
        font-size: 11px;
        font-weight: 600;
        line-height: 1.36;
        text-align: center;
        color: var(--third-text-color);
 }
 .reasons__subtitle{
        font-size: 11px;
        font-weight: 600;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--second-subtitle-color);
 }
 .reasons__title{
       font-family: Raleway;
        font-size: 42px;
        font-weight: 700;
        line-height: 49.31px;
        letter-spacing: 0.05em;
        color: var(--second-title-color);
 }
 .reasons__text{
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: var(--second-text-color);
 }

/* Секція "Наші майстри" */
.masters__container{}
.masters__subtitle{
        font-size: 11px;
        font-weight: 600;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--second-subtitle-color);
}
.masters__title{
    font-family: Raleway;
        font-size: 42px;
        font-weight: 700;
        line-height: 49.31px;
        letter-spacing: 0.05em;
        color: var(--second-title-color);
}
.masters-list{}
.masters-list__item{}
.masters-list__img{}
.masters-list__title{
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: var(--second-subtitle-color);

}
.masters-list__text{
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: 0.02em;
        color: var(--accent-color);
}
.masters-social-list{}
.masters-social-list__item{}
.masters-social-list__link{}

/* Секція "Портфоліо" */
.gallery__container{}
.gallery__subtitle{
        font-size: 11px;
        font-weight: 600;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--second-subtitle-color);
}
.gallery-list{}
.gallery-list__item{}
.gallery-list__img{}

/* Секція "Контакти" */
.contacts__container {
    background-color: #191C26;
}
/* Форма онлайн-запису */
.online {
    background-color: #191C26;
}

.online__title {
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--first-title-color);
}

/* contacts__right */

.contacts__right{}

.contacts__title{
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--first-title-color)
}
.contacts-address{}
.contacts-address__list{}
.contacts-address__item{}
.contacts-address__link{
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color:var(--first-text-color);
}
.contacts__botton-title{
        font-size: 11px;
        font-weight: 600;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--first-title-color);
        
}
.contacts__botton-text{
        font-size: 18px;
        font-weight: 400;
        line-height: 1.36;
        letter-spacing: 0.02em;
        color: var(--first-text-color);
}

/* Секція "Підвал" */
.footer__container{
}
.footer__copy{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--first-text-color);
}
.footer-list{}
.footer-list__item{}
.footer-list__link{
        font-size: 11px;
        font-weight: 600;
        line-height: 1.36;
        letter-spacing: 0.2em;
        color: var(--third-text-color);
}